main { 
    max-width: 1500px; 
    margin: 0 auto; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;}
section { 
    max-width: 1500px; 
    margin: auto; 
    align-items: center;
    padding: 20px 20px; 
    font-family: 'Montserrat', sans-serif;}
img {width: 100%}
figure {width: 50%; margin: auto; text-align: center;font-family: 'Montserrat', sans-serif;}
figcaption {
        max-width: 700px; 
        margin: auto; 
        text-align: center; 
        padding: 0 20px; 
        font-family: 'Montserrat', sans-serif;
    }
@media only screen and (max-width: 600px) {
    figcaption {
    font-size: 1em; 
    padding: 0 10px; 
    font-family: 'Montserrat', sans-serif;
}
}


body { 
    background-color: #F7EDE3;
    background: linear-gradient(120deg, #F7EDE3, #f5bd60, #F68F7C, #f28582, #62232D);
    animation: gradientShift 10s infinite;
    font-family: 'Montserrat', sans-serif;
    background-size: 300% 300%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;
}


h1 { color: rgb (79,36,40);}
p {color: black;}
img {width: 100%;}

a:hover {
    color:#f5bd60 !important;
  }
hr {
    border: none;
    height: 2px;
    background-color: #333; 
    margin: 20px 0;
    width: 100%;
}



@keyframes gradientShift {
    0% { background-position: 0% 30%; }
    50% { background-position: 50% 30%; }
    100% { background-position: 0% 30%; }
}

iframe {
    border: none;
    width: 600px;
    height: 600px;
  }
    
    
figcaption {
        max-width: none; 
        text-align: center; 
        padding: 0 20px; 
        margin-top: 40px; 
        margin: 0 auto; 
}
figure { 
        width:40%; 
        margin:auto;
        text-align: center;

    }
article {
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding: 0 20px; 
    margin-top: 20px; 
}
    
    table {
        margin: 0 auto; 
        text-align: center; 
    }
    h1.heading{
        font-size: 28px;
            font-weight: bold;
            color: #F7EDE3;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 30px 0;
            padding: 10px 10px 10px 10px;
            border: 3px #f5bd60; 
            display: inline-block;
            background-color: #f28582; 
            border-radius: 10px;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        }
    h2.heading {
        color:#f5bd60; 

    }
    h5.leftheading{
            font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 10px 10px;
                margin: 0; 
                text-align: left;
            }
    h5.rightheading{
            font-size: 15px;
            font-weight: bold;          
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 10px 10px;
            margin: 0; 
            text-align: right;
            }
    h4.subheading {
        font-size: 15px;
        margin:auto;

    }


/* navigation */
.navigation {
    position: fixed;
    top : 5%;
    left: 0%;
    width:12% ;
    height: 40%;
}
.navigation .box{
    border-radius: 0px 20px 20px 0px;
    background-color: #F7EDE3;
    width: 100%;
    height:20%;
    left: 0%;
    top: 0%;
}

.box #logosmall {
    width: 30px;
    margin-right: 5px;
    margin-top: 10px;
    margin-left:70%;
}

.navigationlist{
    display: none;
    text-decoration: none;
    text-align: right;
    top :25%;
    right: 0%;
    list-style: none;
}
.navigation:hover .navigationlist,
.navigationlist:hover {
    display: block; 
}

.navigationlist button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #62232D;
    line-height: 2;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    background: transparent;
    border: none;
    padding-right: 10px;
}


.navigationlist .navitem:hover{
    transform: translateY(5px);
    color: #f28582 !important;
    text-decoration: none;
}

.navigationlist .navitem a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #62232D;
    text-decoration: none;
    padding-right: 10px;
    line-height: 2;
    transition: transform 0.3s ease;
}

.navigationlist .navitem a:hover {
    transform: translateY(5px);
    color: #f28582;
    text-decoration: none;
}

#p5-container {
    margin-bottom: 50px; 
}

canvas {
    display: block; 
    margin: 0 auto; 
    margin-bottom: 50px; 
}

 


/* White Overlay */
#white-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 9999;
    opacity: 1;
    transition: opacity 3s ease;
}



#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 99; 
    clip-path: circle(0% at 50% 50%);
    transform: translate(-50%, -50%);
    transition: clip-path 3s ease-in-out, opacity 2s ease-in-out;
    opacity: 1;
  }


